.contact{
    min-height: 90vh;
    // background-size: ;
    background-image: url(../assets/DSC_1532.JPG);
    background-size: contain;
    min-height: 700px;
display: flex;
width: 100vw;
// margin: 0 50px;
// padding: 50px;
// margin-top: 100px;
    >.bc{



    }

}