.footer{
    background-color: rgba(104, 101, 68, 0.923);
    // background-color: black;
    height: 15vh;
    color: white;
    align-items: center;
}
.footertext{
    display: flex;
    justify-content: center;
}