
$main-Color : #F08829;
.home {
  min-height: 90vh;

  > .hero {
    background-color: black;
    background-image: url(../assets/hero.svg);
    background-size: cover;
    min-height: 700px;
    display: flex;
    width: 100vw;

    >.hero-left{
        color: aliceblue;
        padding-top: 200px ;
        padding-left: 50px;
        
        h1 ,h2 {
          overflow: hidden;
          white-space: nowrap; 
          font-size: 3.6rem;
          margin: 0;
          margin: 20px 0;
          font-weight: 700;
          
        }
        
        h2{
            border-right: 0.10em solid orange;
          animation: typing 6s steps(60 ,end) infinite;
            color: $main-Color;
        }
        

    }
  }
}


// .container{
//   display: inline-block;
//   margin: 20%;

// }
// .text{
//   overflow: hidden;
//   font-size: 3.6rem;
//   font-weight: 700;
//   border-right: 0.15em solid orange;
//   white-space: nowrap;
//   animation: typing 4s steps(40 ,end) infinite;
  
// }

@keyframes typing{
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
