.services {
    min-height: 90vh;
    
    // background-color: rgba(167, 171, 130, 0.782);
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  
  
  
    >h1{
      text-align: center;
    }
  
    >.input{
      width: 300px;
      margin: auto;
      >input{
          padding: 5px 10px ;
          border: none;
          border: 1px solid rgba(236, 211, 211, 0.895);
          // border-left: 1px solid black;
          border-radius: 10px;
          // font-family: monospace;

          margin-right: 20px;
  box-shadow: 10px 10px 10px rgba(9, 9, 9, 0.816);   

          
      }
      >button{
          color: rgb(224, 216, 216);

          background-color: rgba(8, 8, 8, 0.945);
          padding: 5px 10px ;
          border-radius: 10px;
          border: none;
          font-weight: 200;
  box-shadow: 10px 10px 1cqb rgba(30, 30, 30, 0.816);   

      }
      >button:hover{
        color: black;
        cursor: pointer;
    // border-top: 2px solid white;
        background-color: white;

      }
    }
  
    > .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: auto;
      margin-top: 30px;
    // box-shadow: 10px 7px 30px rgb(15, 14, 13);   

      > .card {
       
        border-radius: 5px;
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-bottom: 10px;
    box-shadow: 10px 7px 30px rgb(15, 14, 13);   

        padding: 10px;
  
        > img {
          border-radius: 7px;
          width: 100%;
        }
  
        > span {
         font-family: cursive;
         font-style: italic;
        }
      }
    }
  }


  
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
.loading {
  // position:fixed;
  
  top: 0;
  left: 0;
  width: 50%;
  height: 30%;
  // background: #1717172a;
  
  z-index: 9999;
  margin-bottom: 50px;
  margin-left: 25%;
  // text-decoration: underline;
  // box-shadow: 10px 100px 60px rgb(87, 85, 83);   

}
.loading-text-words{
    font-size: 24px;
    font-weight: 600;
}

.loading-text {
  // position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #6c6666;
  font-family: "Quattrocento Sans", sans-serif;
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
          animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
          animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
          animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
          animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
          animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
          animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
          animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
